.modale {
  width: 100%;
  background-color: #cccccc;
  height: 100vh;
  overflow-y: scroll;
}
.modale-image {
  width: 100%;
}
.modale-desc {
  padding-left: 1rem;
  padding-bottom:200px;
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .modale {
    margin-top: 25vh;
    width: 46rem;
    height: 23rem;
    background-color: white;
  }
  .modale-image {
    width: 23rem;
    height: 23rem;
    background-color: #aaaaaa;
  }
  .modale-desc {
    float: left;
    padding-left: 1rem;
    width: 23rem;
    height: 23rem;
  }
}

@media screen and (min-width: 60em)  {
  .modale {
    margin-top: 4rem;
    width: 55rem;
    height: 33rem;
    background-color: white;
  }
  .modale-image {
    width: 33rem;
    height: 33rem;
    background-color: #aaaaaa;
    pointer-events: auto;
  }
  .modale-desc {
    padding-left: 1rem;
    float:left;
    width: 20rem;
    height: 33rem;
    background-color: white;
  }
}
