/*
player-hidden {
	bottom: -8em;
  transition: 200ms ease-out;
}
.player-showing {
	bottom: 0em;
  transition: 200ms ease-out;
}
.pointer-auto {
  pointer-events:auto;
}
.pointer-none {
  pointer-events:none;
}

.br-right-player {
  border-top-right-radius: 60px;
}

.br-left-player {
  border-top-left-radius: 60px;
}

.recordWhite {
  filter: invert(100%);
}

*/

.spin-enabled {
  animation: spin 1.8181818s linear infinite;
}
.spin-disabled {
  animation: backspin 1s ease-out;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	1% { transform: rotate(360deg); }
}

@keyframes backspin {
	0% { transform: rotate(180deg); }
	33% { transform: rotate(0deg); }
	50% { transform: rotate(-10deg); }
	100% { transform: rotate(0deg); }
}

/*
.record-small {
  margin-left: 1.17rem;
  margin-top: 1.17rem;
  width: 5.7rem;
  height: 5.7rem;
}
.record {
  margin-left: 0rem;
  margin-top: 0rem;
  width: 7.9rem;
  height: 7.9rem;
}
.player-slide {
  animation: player-slide 300ms ease-out;
}

@keyframes player-slide {
	0% { transform: translate(0em, 4em); }
	100% { transform: translate(0em, 0em); }
}
*/
