
.sepia {
	filter: brightness(110%) sepia(40%);
}
.hue-30 {
	filter: hue-rotate(30deg);
}
.hue-60 {
	filter: hue-rotate(60deg);
}
.hue-90 {
	filter: hue-rotate(90deg) brightness(80%) sepia(40%);
}
.hue-120 {
	filter: hue-rotate(120deg) brightness(50%) sepia(40%);
}
.hue-150 {
	filter: invert(100%) hue-rotate(150deg) ;
}
.hue-180 {
	filter: hue-rotate(180deg) brightness(20%) sepia(40%);
}
.hue-210 {
	filter: hue-rotate(210deg);
}
.hue-240 {
	filter: hue-rotate(240deg);
}
.hue-270 {
	filter: hue-rotate(270deg);
}
.hue-300 {
	filter: hue-rotate(300deg);
}
.hue-330 {
	filter: hue-rotate(330deg);
}
